### IDE ###
.idea/
.vscode/

### Maven ###
target/

### Java ###
*.class
*.jar
*.war
*.ear
*.zip

### MacOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Linux ###
.directory
.Trash
.Trash-*

### Environment Variables ###
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local